/* <system section="theme" selected="8454420450091363061"> */
@import url("http://hatenablog.com/theme/8454420450091363061.css");
/* </system> */

/* <system section="background" selected="custom"> */
body{ background-image: url('http://f.st-hatena.com/images/fotolife/r/rinoside/20150930/20150930024111.png'); background-repeat: no-repeat; background-color:#9DD5CE; background-attachment: fixed; background-position: center -15px;}
/* </system> */

/*common------*/
* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*記事内------*/
/*header*/
.entry-title{
	margin-bottom: 25px;
}
.categories{
	margin-bottom: 15px;
}
.customized-header{
	margin-bottom: 20px;
}
/*/header*/

.entry-content h1{
    border-bottom: 1px solid #333;
}
.entry-content p{
    margin-bottom:25px;
}
.entry-content img{
    display:block;
    margin-bottom:50px;
}
.footertop{
    height:100px;
}
#blog-title-content{
	background: url('http://f.st-hatena.com/images/fotolife/r/rinoside/20150929/20150929213854.png') left top no-repeat;
	-webkit-background-size: 100%;
	     -o-background-size: 100%;
	        background-size: 100%;
    padding: 22px 30px 36px 30px;
    display: inline-block;
    border-radius: 6px;
}
#blog-title{
    padding:81px 0;
}
.detail_bloc{
	padding: 40px 0;
}
.snsshare_cap p{
	font-size: 18px;
}
.entry-content a,
.all_archive a{
	color: #4db1a4;
	font-weight: bold;
}
.entry-content a:hover,
.all_archive a:hover{
	text-decoration: none;
	opacity: 0.8;
}
.all_archive{
    margin-top:-40px;
}

/*一覧ページ*/
.archive-entries p.entry-description{  
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
} 
.archive-entries .autopagerize_page_element{
	position: relative;
	padding-bottom: 175px;
}
.archive-entries .archive-entry-header{
	position: absolute;
	top: 0;
	left: 140px;
}
.archive-entries .archive-entry-header .entry-title{
    overflow: hidden;  
    white-space: nowrap;  
    text-overflow: ellipsis;
    width: 365px;
}
.archive-entries .categories{
	position: absolute;
	left: 140px;
	top: 5.5em;
}
.archive-entries .entry-thumb-link{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.archive-entries .archive-entry-body{
	position: absolute;
	top: 72px;
	left: 0;
}

/*カテゴリ一覧上部広告------*/
.google_ads_by {
    color: #eee;
}
.google-afc-text ul .title a,.google-afc-text li{
    color: #ccc;
}
.hatena-module-title {
    font-weight: bold;
    border-top: 1px dashed #ADD4CD;
    padding-top: 8px;
}

/*profile------*/
.myprof .img{
	width: 62%;
	margin: auto;
}
.myprof .img img{
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.myprof dl dt{
	text-align: center;
	margin: 20px 0 5px 0;
	font-size: 18px;
}
.myprof dl dt a{
    padding-left: 10px;
    font-size: 20px;
    color: #73A9EE;
}
.myprof dl dt a span{
    font-size:10px;
    padding-left: 5px;
}

.myprof dl dd{
	margin: 0;
}

/*レスポンシブ調整用------*/
/*960xp以上のみ、*/
@media screen and (min-width:960px) {
	#box2{
		float: left;
	}
	#main{
		padding-left: 48px;
		border-left: 1px solid #e4e4e4;
		border-right: none;
	}
	#wrapper{
	    float: right;
	    margin-right: 0;
        padding-right: 0;
        margin-left: -348px;
        padding-left: 348px;
    }
}
/*960xp以下のみ、*/
@media screen and (max-width: 959px){
	body{
		background: url('http://f.st-hatena.com/images/fotolife/r/rinoside/20150930/20150930024112.png') center -20px no-repeat;
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
		background-color: #9DD5CE;
	}
	#blog-title-content{
		width: 100%;	
	    padding: 12% 0 18% 0 ;
	    text-align: center;
	}
	.archive-entries .archive-entry-header .entry-title{
	    width: 420px;
	}
}
@media screen and (max-width: 639px){
	.archive-entries .archive-entry-header{
		width: 60%;
	}
	.archive-entries .archive-entry-header .entry-title{
		font-size: 20px;
	    width: 100%;
	}
	.archive-entries .archive-entry-body{
		width: 100%;
	}
}
@media screen and (max-width: 400px){
	#blog-title-content{
	    padding: 9% 0 13%;
	}
}